{% extends 'base.html' %}


{% block title %} Detail {% endblock %}


{% block content %} 
<div class="d-flex justify-content-between align-items-center">
  <h1>{{object.title}}</h1>  
  <div>
    <button  class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Oshiriw</button>
    <a href="/posts/{{object.id}}/edit/" class="btn btn-warning btn-sm">Ozgertiw</a>
  </div>
</div>
<p>{{object.content}}</p>
 
<p>Author: {{object.user}} </p>
<p>Post jazilgan waqti: {{object.created_at}}</p>



<h2>Popular posts:</h2>

<div class="row g-4 mt-3">
    {% for post in popular_posts %}
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content|truncatewords:5}}</p>
                <a href="/posts/{{post.id}}/" class="btn btn-primary">Toliq oqiw</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



<div class="modal" tabindex="-1" id="deleteModal" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">"{{ object.title }}" atli postti rastanda oshirejaqsizba?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yaq</button>
        <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Awa,oshiriw</button>
        </form>
      </div>
    </div>
  </div>
</div>





{% endblock %}





